.about .about__background {
  position: absolute;
  z-index: 1;
  min-width: 100vw;
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}

.about .about__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  opacity: 0.38;
}

@media screen and (max-width: 1050px) {
  .about .about__background {
    max-height: none;
    height: 100%;
    margin-bottom: auto;
  }
  .about .about__background img {
    -o-object-position: 0%;
       object-position: 0%;
    opacity: 1;
  }
}

.about .about__gradient {
  display: none;
}

@media screen and (max-width: 1050px) {
  .about .about__gradient {
    display: block;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
    z-index: 1;
    height: 78vh;
    -webkit-transform: translateY(-78vh);
            transform: translateY(-78vh);
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .about .about__gradient {
    height: 60vh;
    -webkit-transform: translateY(-60vh);
            transform: translateY(-60vh);
  }
}

.about .about__overlay {
  position: relative;
  z-index: 10;
  min-width: 700px;
  max-width: 1280px;
  height: 100%;
  min-height: calc(100vh - 80px - 70px);
  margin: 0 auto 0 auto;
  padding: 0;
}

.about .about__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 800px;
  padding-top: 4vh;
  margin: 0 20px 0 20px;
}

.about .about__icon > img {
  border-radius: 50%;
  width: 225px;
  height: auto;
  margin-top: 34px;
}

.about .about__text > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h2 {
  font-size: 30pt;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.about span {
  font-family: 'Roboto', sans-serif;
  font-size: 28pt;
  font-weight: 800;
  padding-left: 14px;
}

.about strong {
  padding-top: 20px;
  font-size: 22pt;
}

.about li {
  font-size: 14pt;
}

.about .about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
  padding-top: 3.5vh;
}

.about .about__photos img {
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1050px) {
  .about .about__overlay {
    min-width: auto;
    max-width: auto;
    width: 100%;
    padding-top: 25vh;
  }
  .about .about__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about .about__container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-width: auto;
    padding: 0;
    margin: 0;
  }
  .about .about__icon > img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    padding-top: 34px;
  }
  .about .about__text > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .about h2 {
    font-size: 18pt;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
  }
  .about span {
    display: block;
    font-size: 18pt;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .about strong {
    font-size: 16pt;
    padding-top: 30px;
  }
  .about li {
    font-size: 14pt;
  }
  .about .about__photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 18px;
            column-gap: 18px;
    padding-top: 0;
  }
  .about .about__photos img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about .about__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .about .about__photos img {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .about .about__photos {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about .about__photos img {
    margin: 0;
  }
}
/*# sourceMappingURL=about.css.map */