.kam__about-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);

}

.kam__about-portrait img{
    width: 100%;
}

.kam__about-description {
    width: 55%;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 3%;
    margin-left: 3%;
    
    padding: 18px;

    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.kam__about-description p{
    margin: 0;
}

.kam__about-description h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.kam__about-description h2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.kam__about-portrait {
    margin: 0;
    position: relative;
}

@media screen and (max-width: 550px) {
    .kam__about-description {
        width: 90%;
    
        position: relative;
    
        margin-top: 6px;
        margin-left: 6px;
        
        padding: 1rem;
    
        background: rgb(255,255,255);
        background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
}

@media screen and (max-width: 650px) {
    .kam__about-description h1 {
        font-size: 16pt;
    }
    .kam__about-description h2 {
        font-size: 13pt;
    }
}

.kam__info-container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.kam__info-container-upper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kam__info-container-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kam__info-item {
    padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 843px) {
    .kam__info-container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .kam__info-item {
        padding: 0.2rem 1rem 0.2rem 1rem;
    }
}

@media screen and (max-width: 500px) {
    .kam__info-container-upper {
        flex-direction: column;
    }
    
    .kam__info-container-lower {
        flex-direction: column;
    }
    .kam__info-item {
        padding: 0.1rem 1rem 0.1rem 1rem;
    }
}

.kam__info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kam__about-social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.kam__about-social-container p{
    padding: 0 0.7rem 0 0.7rem;
}

.kam__hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

.kam__hours-title {
    align-content: center;
    padding: 0.5rem;
}

.kam__hours-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.kam__hours-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 7);
    flex-shrink: 1;
}

.kam__hours-day {
    font-size: 12pt;
}

.kam__hours-time {
    font-size: 10pt;
}

@media screen and (max-width: 650px) {
    .kam__hours-title {
        font-size: 12pt;
        padding: 0.1rem;
    }
    .kam__hours-row-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kam__hours-day-container {
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .kam__hours-day {
        font-size: 12pt;
        width: 4rem;
    }
    .kam__hours-time {
        font-size: 10pt;
    }
}