@import '../../_variables';

.social {

    #{&}__container {
        width: 100%;
        
    }

    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        
    }

    li {
        display: inline;
        padding: 0 5px 0 5px;
        list-style-type: none;
        cursor: pointer;

        @media screen and (max-width: $breakpoint-menu) {
            padding: 0 10px 0 10px;
        }
    }

// Link Styling

    a:link {
        color: $link-color;
        text-decoration: none;
      }
    
    a:visited {
        color: $link-color;
        text-decoration: none;
      }
      
    a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        animation-name: nav__link-Mag;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
      }
    
      a:active {
        color: $link-color;
        text-decoration: none;
      }

    @keyframes nav__link-Mag {
        100% {
          color: #3a3a3a;
        }
    }

}