@import "../../_variables";

.features {}

.features__photos {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    row-gap: 2px;

    img {
        height: auto;
        min-width: 200px;
        flex: 1 1 21% ;
        display: flex;
        border-radius: 0.5rem;
        margin: 5px;

        @media screen and (max-width: $breakpoint-tablet) {
                flex: 1 1 30% ;
            }
    
        @media screen and (max-width: $breakpoint-mobile) {
                flex: 1 1 100% ;
            }
    }

}

